<!-- new releases -->
<kor-text size="header-1">New Releases</kor-text>
<div class="carousel">
  <ng-container *ngFor="let rel of newReleases">
    <kor-card [image]="rel.images[1].url" (click)="router.navigateByUrl('/album/' + rel.id)">
      <kor-text size="header-2">{{rel.name}}</kor-text>
      <kor-text>
        <ng-container *ngFor="let art of rel.artists, index as i">
          <ng-container *ngIf="i !== 0">, </ng-container>
          {{art.name}}
        </ng-container>
      </kor-text>
    </kor-card>
  </ng-container>
</div>

<br>

<!-- featured playlists -->
<kor-text size="header-1">Featured Playlists</kor-text>
<div class="carousel">
  <ng-container *ngFor="let pl of featuredPlaylists">
    <kor-card [image]="pl.images[0].url">
      <kor-text size="header-2">{{pl.name}}</kor-text>
    </kor-card>
  </ng-container>
</div>