<kor-page [theme]="settings.theme">
  <kor-app-bar slot="top" mobile [label]="getPageLabel()">
    <kor-icon slot="left" button icon="menu" *ngIf="router.url.split('/').length < 3"></kor-icon>
  </kor-app-bar>
  <!-- outlet for pages -->
  <router-outlet></router-outlet>
  <kor-nav-bar slot="bottom">
    <kor-tabs style="justify-content: center;">
      <kor-tab-item icon="home" [active]="router.url == '/home'" (click)="router.navigateByUrl('/home')"></kor-tab-item>
      <kor-tab-item icon="search" [active]="router.url == '/search'" (click)="router.navigateByUrl('/search')"></kor-tab-item>
    </kor-tabs>
  </kor-nav-bar>
</kor-page>