<kor-page [theme]="settings.theme">
  <!-- app bar -->
  <kor-app-bar slot="top" label="KorGaming" logo="./assets/favicon.png">
    <kor-tabs>
      <kor-tab-item label="Home" [active]="router.url == '/home'" (click)="router.navigateByUrl('/home')"></kor-tab-item>
      <kor-tab-item label="Streams" [active]="router.url == '/streams'" (click)="router.navigateByUrl('/streams')"></kor-tab-item>
      <kor-tab-item label="Clips" [active]="router.url == '/clips'" (click)="router.navigateByUrl('/clips')"></kor-tab-item>
    </kor-tabs>
    <kor-avatar slot="functions" [label]="settings.user.name" [info]="settings.user.email" [image]="settings.user.imageUrl"></kor-avatar>
  </kor-app-bar>
  <!-- router outlet -->
  <router-outlet></router-outlet>
</kor-page>