<div class="title-wrapper">
  <!-- title -->
  <kor-text size="header-1" class="page-title">Streams</kor-text>

  <!-- filters -->
  <kor-input type="select" label="Games">
    <kor-menu-item *ngFor="let game of games"
      [label]="game?.name" 
      [active]="filters.game_id == game?.id"
      (click)="filters.game_id = game?.id; getStreams()">
  </kor-menu-item>
  </kor-input>
  <kor-input type="select" label="Languages">
    <kor-menu-item *ngFor="let language of languages" 
      [label]="language" 
      [active]="filters.language == language"
      (click)="filters.language = language; getStreams()">
    </kor-menu-item>
  </kor-input>
</div>

<!-- grid -->
<kor-grid fit-content>
  <kor-card grid-cols="3" grid-cols-m="4" grid-cols-s="6" *ngFor="let stream of streams" (click)="openStream(stream.user_name)"
    [label]="stream.title"
    [image]="getThumbnail(stream.thumbnail_url)">
    <kor-tag icon="remove_red_eye" [label]="stream.viewer_count" slot="functions"></kor-tag>
    <kor-text color="var(--text-2)">{{stream.user_name}}</kor-text>
  </kor-card>
</kor-grid>