:host {
  width: calc(100% + 32px);
  height: calc(100% + 32px);
  margin: -16px;
  padding: 16px;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
kor-grid,
.title-wrapper {
  width: 100%;
  max-width: 1200px;
}
.title-wrapper {
  display: flex;
  align-items: center;
  margin: 16px auto 32px auto;
  > * + * {
    margin-left: 12px;
  }
  kor-input {
    width: 160px;
  }
  .page-title {
    font-size: 24px;
    line-height: 32px;
    flex: 1;
  }
}
kor-card {
  cursor: pointer;
  transition: .1s all ease-in-out;
  &:hover {
    transform: translateY(-2px);
  }
  kor-tag[slot="functions"] {
    padding: 0px;
    border: none;
  }
}