/* You can add global styles to this file, and also import other style files */
html {
  --accent-1: 80, 100, 240 !important;
  /* the accent color in hover states */
  --accent-1b: 90, 110, 250 !important;
  /* the accent color in press states */
  --accent-1c: 70, 90, 230 !important;
}